.aligncenter,
.alignleft,
.alignright {
	margin-inline: auto;
	float: none !important;
}

.aligncenter,
.alignleft,
.alignright,
.alignwide,
.alignfull {
	clear: both;
}

:root .alignwide {
	@include alignwide;
}

:root .alignfull {
	@include alignfull;
}

:root .is-layout-constrained > :where(:not(.alignwide):not(.alignfull)),
:root .alignwide:not(.has-background) {
	/* restrict width until viewport exceeds max content width */
	@media (max-width: calc(43rem + 4rem)) {
		max-width: 90vw;
	}
}

.is-root-container > .wp-block-group.alignfull:not(.has-background),
.is-root-container > .wp-block-columns.alignfull:not(.has-background) {
	max-width: 90%;
	margin-inline: auto;
}

@include mq($bp--blocks) {
	.alignleft,
	.alignright {
		max-width: 22rem !important;

		&:first-child + * {
			margin-top: 0;
		}
	}

	.alignleft {
		float: left !important;
		margin-inline-end: var(--wp--style--block-gap) !important;
		margin-block-end: var(--wp--style--block-gap);

		.is-layout-constrained > & {
			margin-inline-start: calc(
				(100% - var(--wp--style--global--content-size)) / 2
			) !important;
		}
	}

	.alignright {
		float: right !important;
		margin-inline-start: var(--wp--style--block-gap) !important;
		margin-block-end: var(--wp--style--block-gap);

		.is-layout-constrained > & {
			margin-inline-end: calc(
				(100% - var(--wp--style--global--content-size)) / 2
			) !important;
		}
	}
}
