.aligncenter,
.alignleft,
.alignright {
	margin-inline: auto;
}

.aligncenter,
.alignleft,
.alignright,
.alignwide,
.alignfull {
	clear: both;
}

:root .alignwide {
	@include alignwide;
}

:root .alignfull {
	@include alignfull;
}

@media (min-width: 37.5em) {
	.alignleft,
	.alignright {
		max-width: 45%;

		+ * {
			margin-top: 0;
		}
	}

	.alignleft,
	[data-align="left"] {
		float: left;
		margin-inline-end: var(--wp--style--block-gap);
		margin-block-end: var(--wp--style--block-gap);
		margin-left: calc(
			(100% - var(--wp--style--global--content-size)) / 2
		) !important;
	}

	.alignright,
	[data-align="right"] {
		float: right;
		margin-inline-start: var(--wp--style--block-gap);
		margin-block-end: var(--wp--style--block-gap);
		margin-right: calc(
			(100% - var(--wp--style--global--content-size)) / 2
		) !important;
	}
}
