@use "../../abstracts/" as *;
@forward "alignments";

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.is-root-container {
	@include flow;

	/* make space between last block and footer as long as it's not full-width */
	> :last-child:not(.alignfull) {
		margin-bottom: $space-9;
	}
}

.flow {
	@include flow;
}

/* Generic WP Layout Class */
@include mq($bp--blocks) {
	.is-layout-flex > * + * {
		margin-top: 0 !important;
	}
}
