/* Theme Color Palette */
$white: #fff;
$black: #111;
$red: red;

/* Functional Color Palette */
$color__background-body: $white;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: $black;
$color__text-input: $color__text-main;

$color__border-input: #ccc;
$color__border-abbr: #666;
