$font__main: var(--wp--preset--font-family--system-font);
$font__monospace: var(--wp--preset--font-family--monospace);
$font__line-height-body: 1.4;
$font__line-height-pre: 1.6;

$font-size-xs: var(--wpp--preset--font-size--x-small);
$font-size-s: var(--wpp--preset--font-size--small);
$font-size-m: var(--wpp--preset--font-size--medium);
$font-size-l: var(--wpp--preset--font-size--large);
$font-size-xl: var(--wpp--preset--font-size--x-large);
$font-size-xxl: var(--wpp--preset--font-size--xx-large);
$font-size-xxxl: var(--wpp--preset--font-size--xxx-large);
