.aligncenter,
.alignleft,
.alignright {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

:root .alignwide {
	@include alignwide;
}

:root .alignfull {
	max-width: none;
	margin-left: 0;
	margin-right: 0;
}

@media( min-width: 37.5em ) {
	.alignleft,
	.alignright {
		max-width: 45%;
	}
	.alignleft {
		float: left;
		margin-right: 1.5em;
		margin-bottom: 1.5em;
	}

	.alignright {
		float: right;
		margin-left: 1.5em;
		margin-bottom: 1.5em;
	}
}
