@use "../abstracts" as *;

.wp-block-columns {
	justify-content: space-between;
	margin-block-end: 0;
}

/* Improve alignment and wrapping of columns */
.wp-block-column {
	/* Don't wrap columns until 768px breakpoint */
	@include mq-medium-blocks-only {
		&.wp-block-column.wp-block-column:not(:only-child) {
			flex-basis: 100% !important;
			margin-inline: 0 !important;
		}
	}
}
