@use "../../abstracts/" as *;

// Automatically add padding to blocks/elements without innerBlocks (and Cover block)
.has-background:where(p, ul, ol, h1, h2, h3, h4, h5, h6, blockquote),
.wp-block-cover {
	padding: $space-4;

	.is-root-container > &.alignfull {
		padding: $space-7;
	}
}

/* Required to contain child margins by creating new block formatting context */
.has-background:is(.wp-block-group, .wp-block-column),
.wp-block-media-text.has-background > .wp-block-media-text__content {
	display: flow-root;

	> :first-child:not(.alignfull) {
		margin-block-start: $space-6;
	}
	> :last-child:not(.alignfull.has-background) {
		margin-block-end: $space-6;
	}
}

/* When alignfull doesn't have a background, it still needs padding in these cases */
.alignfull:not(.has-background):where(.wp-block-group, .wp-block-columns) {
	padding-inline: 5%;
}

/* name, color, contrasting text */
/* prettier-ignore */
$colors:
	"primary" $primary $white,
	"secondary" $secondary $white,
	"gray-dark" $gray-dark $white,
	"contrast" $black $white,
	"accent" $accent null,
	"gray-light" $gray-light null,
	"gray" $gray null,
	"base" $white null;

/**
 * Background and text colors are auto-output by theme.json
 *
 * This takes care of setting better default colors and other fine-tuning
 */
@each $name, $color, $text in $colors {
	.has-#{$name}-background-color {
		color: $text;

		.wp-block-button &.wp-block-button__link {
			border-color: $color;
		}
	}
}

/* Things that inherit text color when set */
.has-background:not(
		.has-base-background-color,
		.has-accent-background-color,
		.has-gray-light-background-color
	),
.has-text-color {
	a:not(.wp-block-button__link),
	a:not(.wp-block-button__link):hover,
	a:not(.wp-block-button__link):focus,
	a:not(.wp-block-button__link):active,
	::marker {
		color: inherit;
	}
}
