@use "../../abstracts/" as *;

.has-background:where(p, .wp-block-group, .wp-block-columns, .wp-block-column),
.wp-block-cover {
	padding: $space-7;

	.wp-block-columns & {
		padding: $space-4;
	}

	.is-root-container > &.alignfull {
		padding: $space-8;
	}
}

.is-root-container
	> .alignfull:not(.has-background):where(
		.wp-block-group,
		.wp-block-columns
	) {
	padding: $space-9;
}

/* name, color, contrasting text */
/* prettier-ignore */
$colors:
	"primary" $primary $white,
	"secondary" $secondary $white,
	"gray-dark" $gray-dark $white,
	"contrast" $black $white,
	"warning" $warning white,
	"error" $error null,
	"message" $message null,
	"accent" $accent null,
	"gray-light" $gray-light null,
	"gray" $gray null,
	"base" $white null;

/**
 * Background and text colors are auto-output by theme.json
 *
 * This takes care of setting better default colors and other fine-tuning
 */
@each $name, $color, $text in $colors {
	.has-#{$name}-background-color {
		color: $text;

		.wp-block-button &.wp-block-button__link {
			border-color: $color;
		}
	}
}

/* Things that inherit text color when set */
.has-background:not(
		.has-base-background-color,
		.has-accent-background-color,
		.has-light-gray-background-color
	),
.has-text-color {
	a:not(.wp-block-button__link),
	a:not(.wp-block-button__link):hover,
	a:not(.wp-block-button__link):focus,
	a:not(.wp-block-button__link):active,
	::marker {
		color: inherit;
	}
}
