/* Basic menu display logic */
.menu-toggle[aria-expanded="false"] + ul {
	display: none;
}

.menu-container {
	position: absolute;
	top: calc(100% + $space-4);
	right: 0;

	.sub-menu {
		position: static;
	}

	[aria-expanded="false"] + ul {
		height: 0;
	}
}

@include mq($bp--menu) {
	.menu-toggle {
		display: none !important;
	}

	.menu-container {
		display: block !important;
		position: static;

		.sub-menu {
			position: absolute;
			top: calc(100% + $space-4);
		}
	}
}

.menu-toggle {
	@include button;
}

/* General Main Menu Styles */
.main-menu-container {
	@include mq($bp--menu) {
	}
}
.main-menu {
	position: relative;
	align-items: stretch;

	li {
		position: relative;
		display: flex;
		align-items: stretch;
	}

	button {
		@include button-unset;
	}

	a,
	button {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 0.25em;
		padding: $space-3 $space-5;
		text-decoration: none;
		color: currentColor;
	}

	a:hover {
		text-decoration: underline;
	}

	path {
		fill: currentColor;
	}

	/* Only top-level items */
	> li > a,
	button {
		line-height: 1;
	}

	/* Current Itesm */
	.current_page_item > *,
	.current-menu-item > * {
		font-weight: 700;
	}

	/* Large Screen Styles */
	@include mq($bp--menu) {
		position: static;
		display: flex;
		align-items: center;
		color: $accent;
		background-color: transparent;
	}
}

/* Main Menu Submenus */
.main-menu .sub-menu {
	min-width: 16em;

	@include mq($bp--menu) {
	}
}
