@use "../../abstracts/" as *;

/* Basic toggle display logic */
.menu-toggle[aria-expanded="false"] + .menu-container {
	display: none;
}

.menu-toggle {
	@include button-unset;

	.svg-icon {
		width: 1em;
		height: 1em;
	}

	.svg-icon-close {
		display: none;
	}

	&[aria-expanded="true"] {
		.svg-icon-menu {
			display: none;
		}
		.svg-icon-close {
			display: inline-block;
		}
	}
}

/* Basic Submenu positioning Logic */
.main-navigation {
	position: relative;
}
.menu-container {
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 999;

	.sub-menu {
		position: static;
		height: 0;
	}

	[aria-expanded="true"] + .sub-menu {
		height: auto;
	}
}

/* Desktop Menu */
@include mq($bp--menu) {
	.menu-toggle {
		display: none !important;
	}

	.menu-container {
		display: block !important;
		position: static;

		.sub-menu {
			position: absolute;
			top: calc(100% + $space-4);
			z-index: 999;
		}
	}
}

/* Extra JS Fallback */
.main-menu.no-js {
	li:hover > .sub-menu,
	li:focus-within > .sub-menu,
	a:focus + .sub-menu {
		height: auto;
	}
	.sub-menu {
		margin-top: 0;
	}
}

/* General Main Menu Styles */
.menu-container {
	@include mq($bp--menu) {
	}
}
.main-menu {
	position: relative;
	align-items: stretch;

	li {
		position: relative;
		display: flex;
		justify-content: stretch;
		flex-wrap: wrap;
	}

	/* Buttons and Links */
	button {
		@include button-unset;
	}

	a,
	button {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 0.4375em;
		padding: $space-3 $space-5;
		text-decoration: none;
		color: currentColor;
	}

	a:hover {
		text-decoration: underline;
	}

	/* SVG Drop-down Indicators */
	svg {
		flex: 0 0 0.5em;
		transform: rotate(90deg);
	}

	[aria-expanded="true"] svg {
		transform: rotate(90deg) scaleX(-1);
	}

	path {
		fill: currentColor;
	}

	/* Only top-level items */
	> li > a,
	button {
		line-height: 1;
	}

	/* Current Items */
	.current_page_item > *,
	.current-menu-item > * {
		font-weight: 700;
	}

	.sub-menu {
		flex: 0 0 100%;
		background-color: $base;
		box-shadow: $box-shadow;
		border-radius: $border-radius;

		@include mq($bp--menu) {
			min-width: 14em;
		}
	}

	/* Large Screen Styles */
	@include mq($bp--menu) {
		position: static;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		background-color: transparent;
	}
}
