/* Basic menu display logic */
.menu-toggle[aria-expanded="false"] + ul {
	display: none;
}

@include mq($bp--menu) {
	.menu-toggle {
		display: none;
	}

	.main-menu {
		display: flex !important;

		.sub-menu {
			position: absolute;
		}
	}
}

/* General Main Menu Styles */
.main-menu {
	align-items: stretch;

	li {
		position: relative;
		display: flex;
		align-items: stretch;
	}

	a,
	button {
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	button {
		@include button-unset;
	}

	/* Only top-level items */
	> li > a,
	button {
		line-height: 1;
	}

	/* Current Itesm */
	.current_page_item > *,
	.current-menu-item > *,
	.current_page_ancestor > *,
	.current-menu-ancestor > * {
		font-weight: 700;
	}

	/* Large Screen Styles */
	@include mq($bp--menu) {
	}
}
