@mixin screen-reader-text( $focus: false ) {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

	@if $focus {

		&:focus {

			@include button;

			clip: auto !important;
			clip-path: none;
			height: auto;
			left: 5px;
			top: 5px;
			width: auto;
			z-index: 100000; // Above WP toolbar.
		}

	}

}

@mixin mq( $breakpoint ) {

	@media screen and (min-width: $breakpoint / 16 * 1em) {

		@content;

	}
}

@mixin alignwide {
	max-width: $width--wide;

	@include mq( $bp--full ) {
		/* margin-left: $margin--lg;
		margin-right: $margin--lg; */
	}

	@include mq( $bp--large + 80 ) { // 80 = $margin * 2 in px
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

@mixin flow( $size: 1.4em ) {

	> * + * {
		margin-top: $size;
	}

}
