@mixin screen-reader-text($focus: false) {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

	@if $focus {
		&:focus {
			@include button;

			clip: auto !important;
			clip-path: none;
			height: auto;
			left: 5px;
			top: 5px;
			width: auto;
			z-index: 100000; // Above WP toolbar.
		}
	}
}

@mixin mq($breakpoint) {
	@media screen and (min-width: calc( ( $breakpoint / 16 ) * 1em )) {
		@content;
	}
}

@mixin mq-max($breakpoint) {
	@media screen and (max-width: calc(( ( $breakpoint - 1 ) / 16 ) * 1em )) {
		@content;
	}
}

@mixin mq-medium-blocks-only {
	@media (min-width: calc( ( $bp--blocks / 16 ) * 1em)) and (max-width: calc( ( ( $bp--blocks--large + 1 ) / 16 ) * 1em )) {
		@content;
	}
}

@mixin block-container {
	> * {
		width: 90%;
		max-width: $width--content;
		margin-inline: auto;
	}
}

@mixin alignwide {
	max-width: $width--wide;

	@include mq($bp--large) {
		width: 100%;
	}
}

@mixin alignfull {
	width: 100%;
	max-width: none;
	margin-inline: 0;
	margin-top: $space-8;

	+ * {
		margin-top: $space-8;
	}

	+ .alignfull.has-background,
	+ .alignfull.wp-block-cover {
		margin-top: 0;
	}
}

@mixin flow($size: 1.5em) {
	> * + * {
		margin-top: $size;
	}
}

@mixin button {
	&:hover {
	}

	&:visited {
	}

	&:focus {
	}
}

@mixin button-unset {
	all: unset;
	cursor: pointer;
	box-sizing: inherit;
	outline-offset: -0.25rem;
}
