/* Theme Color Palette */
$primary: var(--wp--preset--color--color-1);
$secondary: var(--wp--preset--color--color-2);
$accent: var(--wp--preset--color--accent);
$gray-light: var(--wp--preset--color--tint-1);
$base: var(--wp--preset--color--base);
$contrast: var(--wp--preset--color--contrast);
$white: $base;
$black: $contrast;
$error: var(--wp--custom--color--error);
$warning: var(--wp--custom--color--warning);
$message: var(--wp--custom--color--message);
$success: var(--wp--custom--color--success);
$required: var(--wp--custom--color--required);
$border: var(--wp--custom--color--border);

/* Functional Color Palette */
$color__text-main: $primary;
$color__background-hr: $border;
$color__background-button: $gray-light;
$color__background-pre: $gray-light;
$color__background-ins: $message;

$color__border-input: $border;
$color__border-abbr: $border;
