@import "../../globals/globals";

.wp-block-media-text {
	margin-block-start: $space-9;
	clear: both;

	&.alignfull + :not(.alignfull) {
		margin-block-start: $space-9 !important;
	}
}

.wp-block-media-text__content {
	@include flow;
}

/* No outer padding by default*/
.wp-block-media-text .wp-block-media-text__content {
	padding:  0;
	padding-block-start: $space-8;
}

@include mq($bp--blocks) {
	.wp-block-media-text .wp-block-media-text__content {
		padding-block-start: 0;
		padding-inline-start: $space-8;
		padding-inline-end: 0;
	}

	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
		padding-block-start: 0;
		padding-inline-start: 0;
		padding-inline-end: $space-8;
	}
}

/* Restore padding for background or no-background fullwidth */
.is-root-container
	> .wp-block-media-text.has-background
	> .wp-block-media-text__content,
.is-root-container
	> .wp-block-media-text.alignfull
	> .wp-block-media-text__content {
	padding: $space-8;
}

/* Taller min-height than default styles when cropped image */
.wp-block-media-text.is-image-fill .wp-block-media-text__media {
	min-height: 21rem;
}
