@use "../../abstracts/" as *;

button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	line-height: $font__line-height-body;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
	padding: $space-1;
	border: 1px solid $color__border-input;
	border-radius: $border-radius;
	background-color: $white;
}

textarea {
	width: 100%;
	padding: $space-2;
}

input[type="checkbox"],
input[type="radio"] {
	width: 1em;
	height: 1em;
}
