html {
	box-sizing: border-box;
	overflow-x: hidden;

	/* this doesn't get output if gap setting is turned off, so I'm hacking it into place */
	--wp--style--block-gap: var(--wp--preset--spacing--70);
}
