/*
 * Selectors reference: https://github.com/mrwweb/wordpress-block-editor-theme-support-starter/blob/master/block-editor-styles.css
 */
@use "sass:meta";
@use "abstracts" as *;

:where(.editor-styles-wrapper) {
	@include meta.load-css("base");
}

:root .editor-styles-wrapper {
	@include meta.load-css("blocks");

	/**
	* Global Styles
	*/
	/* Match Front-end box-sizing */
	box-sizing: border-box;

	/* Vertical space between top-level blocks */
	.block-editor-block-list__layout.is-root-container {
		@include flow;

		& {
			margin-block: var(--wp--preset--spacing--100);
		}
	}

	/**
	 * Post Title
	 */
	.edit-post-visual-editor__post-title-wrapper {
	}

	/**
	 * Alignments
	 */
	.alignwide {
		@include alignwide;
	}

	.alignfull {
		@include alignfull;
	}

	@media (min-width: 37.5em) {
		.alignleft,
		.alignright {
			width: 45%;
			max-width: 22rem !important;

			&:first-child + * {
				margin-top: 0;
			}
		}

		.alignleft {
			float: left !important;
			margin-inline-end: var(--wp--style--block-gap) !important;
			margin-block-end: var(--wp--style--block-gap);
		}
		.is-root-container > .alignleft {
			margin-inline-start: calc(
				(100% - var(--wp--style--global--content-size)) / 2
			) !important;
		}

		.alignright {
			float: right !important;
			margin-inline-start: var(--wp--style--block-gap) !important;
			margin-block-end: var(--wp--style--block-gap);
		}
		.is-root-container > .alignright {
			margin-inline-end: calc(
				(100% - var(--wp--style--global--content-size)) / 2
			) !important;
		}
	}

	/**
	 * Block Fixes
	 */
	/* File block doesn't match front-end styles in core??? */
	.wp-block-file__content-wrapper > * + * {
		margin-left: 0.75em;
	}
}
